/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  } */

/* Цвет основного текста color: #757575; */
/* Цвет вторичного текста color: #212121*/
/* Цвет акцент color: #2196F3;*/
/* цвет белый color: #FFFFFF;*/
/* вторичный background-color: #E5E5E5; */


  body {
    background-color: #FFFFFF;
    color: #757575;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* Header */
.page-header {
}
.logo {
    color: #2196F3;
    text-decoration: none;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
}
.logo-top {
    color: #212121;
}

/* Site-nav */

.site-nav {
    /* color: #212121; */
}
.site-nav .link {
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: #2196F3;
}
.site-nav .link:active {
    color: teal;
}
/* Footer */
.page-footer {
    color: #FFFFFF;
    background: #2F303A;    
}
.logo-bottom {
    color: #FFFFFF;
}
/* .address {
    text-decoration: none;
} */